<div class="container">

  <!--navBar-->
  <div class="row" id="myRow">
    <div class="col" id="myCol">
      <app-my-nav-bar></app-my-nav-bar>
    </div>
  </div>

  <!--Content-->
  <div class="row" id="myRow">

    <div class="col" id="myCol">
      <app-card></app-card>
    </div>

    <div class="col-8" id="myCol"></div>

    <div class="col" id="myCol">
      <router-outlet></router-outlet>
    </div>

  </div>

  <!--navBar-->
  <div class="row" id="myRow">
    <div class="col" id="myCol">
      <app-my-footer></app-my-footer>
    </div>
  </div>

</div>
